<container>
<h2>Da click aqui</h2>
<spacer size="10">   </spacer>
<row>
    <columns>
    <center>
        <a href="https://cld.bz/BlQlsMr" class="cld-embed" data-cld-lightbox="no" data-cld-width="240px" data-cld-height="210px">@ElSalonFantasma</a><script async defer src="https://cld.bz/content/embed-boot/boot.js"></script>
    </center>
    </columns>
</row>

<spacer size="20">   </spacer>

<row>
    <columns> </columns>
    <columns small="12" large="10">
<h3 class="text-center">Disfruta del eBook mas aclamado del momento</h3>
<p class="text-center">Me encanta este eBook. Claudia -Estudiante-</p>
    </columns>

    <columns></columns>
</row>

<row>
    <columns>
    <center>
        <button href="#">Leer mas</button>
    </center>
    </columns>
</row>

</container>