<container>
<h2>Post de la semana</h2>
<spacer size="10">   </spacer>
<row>
    <columns>
    <center>
        <img src="https://imageshack.com/i/po4jXMJqp" class="thumbnail">
    </center>
    </columns>
</row>

<spacer size="20">   </spacer>

<row>
    <columns> </columns>
    <columns small="12" large="10">
<h3 class="text-center">Visita Madrid, España este verano</h3>
<p class="text-center">Fuse lacinia turpis erat, sit amet fermentur justo volutpat in. Mauris sit</p>
    </columns>

    <columns></columns>
</row>

<row>
    <columns>
    <center>
        <button href="#">Leer mas</button>
    </center>
    </columns>
</row>

</container>