<container>
<h2>No te lo puedes perder</h2>
<spacer size="20"></spacer>
<row>
    <columns large="6" small="12">
    <img src="/assets/img/post_1.png" class="thumbnail">
    </columns>
    <columns large="6" small="12">
    <h3>Lago Maggiorea, ITALIA</h3>
    <p>Proin convallis, leo ut congue tristique, enim turpis fringilla fellus, non </p>
   <button href="#">Leer mas</button>
    </columns>
</row>


<row>
    <columns large="6" small="12">
    <img src="/assets/img/post_2.png" class="thumbnail">
    </columns>
    <columns large="6" small="12">
    <h3>Que hacer en Toronto</h3>
    <p>Proin convallis, leo ut congue tristique, enim turpis fringilla fellus, non </p>
   <button href="#">Leer mas</button>
    </columns>
</row>



</container>