<container>
<h2>No te lo puedes perder</h2>
<spacer size="20"></spacer>
<row>
    <columns large="6" small="12">
    <img src="http://imageshack.com/a/img922/7610/GMP3z4.jpg" class="thumbnail">
    </columns>
    <columns large="6" small="12">
    <h3>Ahora podras compartir</h3>
    <p>Comparte en Facebook lo que estas leyendo ¡Si! tu podras recomendar el (DEMO) del eBook. </p>
   <button href="#">Leer mas</button>
    </columns>
</row>


<row>
    <columns large="6" small="12">
    <img src="http://imageshack.com/a/img923/5016/3ezHxD.jpg" class="thumbnail">
    </columns>
    <columns large="6" small="12">
    <h3>Envia un regalo</h3>
    <p>Ahora se podra enviar como regalo el eBook directamente desde la pagina web. (NUEVO)  </p>
   <button href="#">Leer mas</button>
    </columns>
</row>



</container>