<container>
<h2>VISTA PREVIA</h2>
<spacer size="20"></spacer>
<row>
    <columns large="3">
    <callout class="warning">
        <center>
        <img src="http://imageshack.com/a/img924/3511/SrJ3t6.png">
        <spacer size="10"></spacer>
        <p>LAPTOP, PC</p>
        <spacer size="28"></spacer>
        </center>
    </callout>
    </columns>

<columns large="3">
    <callout class="secondary">
        <center>
        <img src="http://imageshack.com/a/img923/7976/NijEyj.png">
        <spacer size="10"></spacer>
        <p>iPad, Tablet</p>
        <spacer size="24"></spacer>
        </center>
    </callout>
    </columns>

   <columns large="3">
    <callout class="primary">
        <center>
        <img src="http://imageshack.com/a/img922/3373/eYSZO0.png">
        <spacer size="10"></spacer>
        <p>iPhone, Smartphone</p>
        </center>
    </callout>
    </columns> 



</row>
</container>